<% provide :title, t("admin_login.title") %>
<h1><%= t "admin_login.title" %></h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(:session, url: admin_login_path) do |f| %>

      <%= f.label t("admin_login.username") %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label t("admin_login.password") %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit t("admin_login.button"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
