<nav role='navigation'>
  <ul class="main">
    <li class="dashboard">
      <%= link_to t("dashboard"), admins_dashboard_path %>
    </li>
    <li class="edit">
      <%= link_to t("manage_restaurants"), restaurants_path %>
    </li>
    <li class="write">
      <%= link_to t("write_news"), dailies_path %>
    </li>
    <li class="users">
      <%= link_to t("manage_users"), users_path %>
    </li>
    <li class="comments">
      <%= link_to t("ads"), "#" %>
    </li>
  </ul>
</nav>
