<%= render "shared/admin_header" %>
<%= render "shared/admin_sidenav" %>

<main role="main">
	<p><%= @restaurant.name %></p>
	<p><%= @restaurant.address %></p>
	<%= link_to t("edit"), edit_restaurant_path(@restaurant) %> |
	<%= link_to t("back"), restaurants_path %> |
	<%= link_to t("add_daily"), new_daily_path(restaurant_id: @restaurant.id) %>
	<div class="col-md-12">
		<h2>Today Foods</h2>
		<% if @restaurant.foods.any? %>
			<ol>
				<%= render @restaurant.foods %>
			</ol>
		<% end %>
	</div>
</main>
