<p><%= t "admin.mailers.greet" %><%= @resource.email %>!</p>

<p><%= t "admin.mailers.text4" %></p>

<p><%= link_to t("change_password_button"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "admin.mailers.text5" %></p>
<p><%= t "admin.mailers.text6" %></p>
