<h2><%= t "forgot_password" %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label t("unlocks.titlecase_email") %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit t("send_reset_password") %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
